[al-barchar],
.al-barchar{
    position:relative;
    width: 100%;
    padding-right: 4em;
}
.al-barchar__bar{
    height: 1em;
    background: #408BE8;
    display: inline-block;
    width: 100%;
}
.al-barchar__percentage{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 1em;
}