// Headers
$h1: 5rem;
$h2: 3rem;
$h3: 2rem;
$h4: 1rem;
$h5: 1rem;

// Colors
$blue: #1e84d6;
$white: white;
$green: #77BF4F;
$yellow: #f9f900;

// Font families

$sans-serif-font: 'Roboto', sans-serif;
