// Headers
$h1: 5rem;
$h2: 3rem;
$h3: 2rem;
$h4: 1rem;
$h5: 1rem;

// Colors
$blue: #4A80AE;
$white: white;
$green: #34bc02;
$yellow: #f9f900;
$black: #333333;

// Social media icons colors
$twitter-bg: #2ca8d2;
$facebook-bg: #305891;;
$google-plus-bg: #ce4d39;

// Font families

$sans-serif-font: 'Roboto', sans-serif;
