<div class="results" data-ng-show="drugEvents.filtered > 0 && !drugEvents.searching">
  <h2 class="results__title">Top {{drugEvents.data.results.length}} side effects: <span class="results__title__drug-name">{{drugEvents.drugName}}</span></h2>

  <table class="table table-striped table-bordered table-condensed table-hover results__table">
    <thead class="results__table__head">
      <th scope="col" class="text-center results__table__head__item">Rank</th>
      <th scope="col" class="text-center results__table__head__item">Drug Reaction</th>
      <th scope="col" class="text-center results__table__head__item">Number of Reactions</th>
      <th scope="col" class="text-center results__table__head__item">Percentage of Reactions</th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td>
          <span class="results__table__total">
            {{drugEvents.filtered|number}}
          </span>
          <small  class="results__table__total__legend"># of Total Reactions</small>
        </td>
        <td>
          <span class="results__table__total results__table__total--hidden">
            {{drugEvents.filtered|number}}
          </span>
          <small class="results__table__total__legend">% of Total Reactions ({{drugEvents.filtered|number}})</small>
        </td>
      </tr>
      <tr ng-repeat="result in drugEvents.data.results">
        <td>
          {{$index|position}}
        </td>
        <td>
          {{result.term|capitalize}}
        </td>
        <td class="text-right">
        {{result.count|number}}
        </td>
        <td>
          <div al-barchar ng-model="result.count" data-total="drugEvents.filtered" data-highest="drugEvents.data.results[0].count" class="al-barchar">
          </div>
        </td>
      </tr>
    </tbody>
    <caption class="text-center results__table__caption" align="bottom">
      Data provided by the U.S. Food and Drug Administration (<a href="https://open.fda.gov" target="__blank">https://open.fda.gov</a>)
    </caption>
  </table>

</div>

<div data-ng-show="drugEvents.searching" class="results__searching-label">
  <div class="text-center">searching...</div>
</div>