<div class="results" data-ng-show="drugEvents.filtered > 0 && !drugEvents.searching">
  <h2 class="results__title">Top ten side effects</h2>

  <table class="table results__table">
    <thead>
      <th scope="col" class="text-center">Side effects</th>
      <th scope="col" class="text-center">Number of reported adverse events</th>
      <th scope="col" class="text-center">Percentage</th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td class="text-right">
          <div data-ng-bind="drugEvents.filtered" class="results__table__filtered">7520</div>
          <div class="results__table__percentage">
            % of total
            <span data-ng-bind="drugEvents.filtered|percentage:drugEvents.total"></span>
            (<span data-ng-bind="drugEvents.total"></span>)
          </div>
        </td>
        <td class="text-right">
          <div data-ng-bind="drugEvents.filtered" class="results__table__filtered">7520</div>
          <div class="results__table__percentage">
            % of total
            <span data-ng-bind="drugEvents.filtered|percentage:drugEvents.total"></span>
            (<span data-ng-bind="drugEvents.total"></span>)
          </div>
        </td>
      </tr>
      <tr ng-repeat="result in drugEvents.data.results">
        <td>
          {{$index|position}} {{result.term}}
        </td>
        <td class="text-right">
        {{result.count|number}}
        </td>
        <td>
          <div al-barchar ng-model="result.count" data-total="drugEvents.filtered" class="al-barchar">
            <span data-ng-bind="result.count|percentage:drugEvents.filtered" class="al-barchar__percentage"></span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    Data provided by the U.S. Food and Drug Administration (<a href="https://open.fda.gov" target="__blank">https://open.fda.gov</a>)
  </div>

</div>

<div data-ng-show="drugEvents.searching">
  <div class="text-center">searching...</div>
</div>