<form class="search" ng-submit='search.submit()' data-ng-init="search.loaded">
    <!-- label for 508Compliance -->
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <label for="search" class="search__label sr-only">Type the name of a drug</label>
            <input id="search" class="search__input form-control" type="text" data-ng-model="search.input" placeholder="Type the name of a drug">
        </div>
    </div>
    <span class="search__message" data-ng-bind="search.message">
    </span>
    <button type="submit" class="btn btn-success search__button">Show side effects</button>

</form>
