<form class="search" ng-submit='search.submit()' data-ng-init="search.loaded">
    <!-- label for 508Compliance -->
    <div class="search__wrapper">
        <label for="search" class="search__label sr-only">Type the name of a drug</label>
         <div class="search__input__wrapper">
            <span  class="search__input__clear" data-ng-show="search.searchNotFound" data-ng-click="search.clearInput()" >Clear search</span>
            <input id="search" type="text" class="search__input form-control" data-ng-model="search.input" placeholder="Type the name of a drug" aria-label="Search terms" data-animation="am-flip-x">
         </div>
    </div>

    <span class="search__message" data-ng-show="search.searchNotFound">
        <i class="glyphicon glyphicon-alert"></i> Oops! We don't have that drug. Check your spelling and try agan
    </span>
    <button type="submit" class="btn btn-success search__button">Show side effects</button>

</form>
