.search__button{
    height: $h1;
    font-size: $h3;
    margin-top: 1em;
    background: $green;
}

.search__filtered-data{
    text-align: left;
    border: 1px solid #CCC;
    position: absolute;
    box-shadow: 1px 2px 5px #888888;
    width: 555px;
    background: white;
    z-index: 9999;
}
.search__filtered-data--hidden{
    left: 999999px;
}
.search__filtered-data__item{
    padding: 0.5em;
}
.search__filtered-data__item:hover{
    background: #EEE;
}

.search__input{
    height: $h1;
    font-size: $h3;
}
.search__input__wrapper{
    position: relative;
}
.search__input__clear{
    color: $blue;
    cursor: pointer;
    font-size: $h3;
    position: absolute;
    right: 2px;
    top: 0.75em;
    padding: 0 0.5em;
    text-decoration: underline;
    line-height: $h3;
    font-style: normal;
    z-index: 999;
    background: rgba(255, 255, 255, 1);
    outline: none;
}

.search__message{
    margin-top: 1em;
    display: block;
    color: $yellow;
}

.search__wrapper{
    width: 555px;
    margin: 0 auto;
}